@import "settings"; 
@import "mixin";

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: $font-n;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: normal;
    color: $body-color;
    background-color: #F2F2F2;
}

a {
    color: $blue;
    @include transition(0.5s);
    &:hover, &:active, &:focus {
        color: #38B9E1;
        outline: none;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: $title;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: $font-o;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $screen-xs) {
        max-width: 540px;
    }
    @media (min-width: $screen-sm) {
        max-width: 720px;
    }
    @media (min-width: $screen-md) {
        max-width: 960px;
    }
    @media (min-width: $screen-lg) {
        max-width: 1140px;
    }
}

.font_o {
    font-family: $font-o !important;
}

.title {
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    color: $title-gr !important;
    font-weight: 600 !important;
    font-family: $font-o !important;
    font-size: 18px !important;
    &.label_title {
        color: $title !important;
        font-size: 16px !important;
    }
    &.title_blue {
        color: #006FB1 !important;
    }
}

.border_form {
    padding: 20px;
    border: 1px solid rgba(16, 73, 53, 0.48);
    box-sizing: border-box;
    border-radius: 6px;
    @include border-radius(6px);
    &.boder_form_done {
        color: $title !important;
        .label_title {
            color: $title !important;
        }
    }
}

.btn {
    min-width: 100px !important;
    padding: 8px 20px !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    &.btn-primary {
        color: $white;
        background-color: $main-color;
        &:hover {
            background-color: $btn-hover;
        }
        &:active {
            background-color: #0B3E31;
        }
    }
    &.btn-danger {
        color: $white;
        background-color: $red;
        &:hover {
            background-color: lighten($red, 5%);
        }
        &:active {
            background-color: darken($red, 10%);
        }
    }
}

.MuiInput-underline {
    &:before {
        border-bottom: 1px solid $underline !important;
    }
    &:after {
        border-bottom: 2px solid $main-color !important;
    }
}

.Mui-disabled {
    color: $title !important;
}

.MuiTab-root {
    height: 6px;
    border-bottom: 1px solid rgba(16, 73, 53, 0.32);
    @include border-radius(20px);
}

// .MuiTabs-indicator {
//     height: 6px;
//     background-color: rgba(16, 73, 53, 0.32);
//     @include border-radius(20px);
// }